<html xmlns:th="http://www.thymeleaf.org">
<!-- js+css -->
<div th:fragment="source">
    <script type="text/javascript" src="/js/jquery-1.8.3.min.js"></script>
    <link type="text/css" rel="stylesheet" href="/css/style.css?v=1212"/>
</div>

<!-- 头文件 -->
<div th:fragment="header">
    <!-- top -->
    <div class="soubg">
        <div class="sou">

            <span class="fr">
                <span class="fl" th:if="${session.user == null}">Hello, please<a href="/login" style="color:#ff4e00;"> click here to login</a>&nbsp;<a href="/register" style="color:#ff4e00;">or register</a>&nbsp;&nbsp;</span>
                <span class="fl" th:if="${session.user != null}"><a href="/productCategory/main" >welcome back，<span th:text="${session.user.userName}"></span></a>&nbsp;|&nbsp;<a href="/user/orderList">my order</a>&nbsp;</span>
                <span class="fl" th:if="${session.user != null}">|&nbsp;<a href="/login">logout</a></span>
        </span>
        </div>
    </div>

    <!-- top -->

    <!-- search -->
    <div class="top">
        <div class="logo">
            <a href="/productCategory/main">
                <img src="/images/appLogo.png"
                     style="width: 201px; margin-left: 30px; margin-top: 10px; border: 0px solid red;">
            </a>
        </div>

        <div class="search">
            <form action="/product/search" method="post">
                <input type="text" name="keyWord" class="s_ipt">
                <input type="submit" value="search" class="s_btn">
            </form>
        </div>
        <div class="i_car">
            <a href="/cart/get">
                <div class="car_t">

                    Cart [
                    <span th:text="${cartList.size()}"></span>
                    ]
                </div>
            </a>

            <div class="car_bg">
                <div class="un_login">MyCart</div>
                <ul class="cars">

                    <li th:each="cart:${cartList}">
                        <div class="img"><a><img th:src="'/images/'+${cart.fileName}" width="58" height="58" /></a></div>
                        <div class="name"><a th:text="${cart.name}"></a></div>
                        <div class="price"><font color="#ff4e00" th:text="'$'+${cart.price}"></font> X <span class="quantity" th:text="${cart.quantity}"></span>  =  <span class="cost" th:text="${cart.cost}"></span></div>
                    </li>
                </ul>
                <div class="price_sum">Total Price&nbsp;<span id="totalCost"></span></div>
                <div class="price_a"><a href="/cart/get">Pay the money</a></div>
            </div>

        </div>
    </div>
    <!-- search -->
    <script type="text/javascript">
        $(function(){
            //购物车总价
            var array = $(".cost");
            var totalCost = 0;
            for(var i = 0;i < array.length;i++){
                var val = parseInt($(".cost").eq(i).html());
                totalCost += val;
            }
            $("#totalCost").html("$"+totalCost);
        });
    </script>
</div>

<!-- 商品类目 -->
<div th:fragment="category">
    <div class="menu_bg">
        <div class="menu">
            <div class="nav">
                <div class="nav_t">all category</div>
                <div class="leftNav">
                    <ul>

                        <li th:each="levelOne:${list}">
                            <div class="fj">
                                <span class="n_img"></span> <span class="fl" th:text="${levelOne.name}"></span>
                            </div>
                            <div class="zj">
                                <div class="zj_l">
                                    <div class="zj_l_c" th:each="levelTwo:${levelOne.children}">
                                        <h2>
                                            <a th:href="'/product/list/2/'+${levelTwo.id}" th:text="${levelTwo.name}"></a>
                                        </h2>
                                        <a th:each="levelThree:${levelTwo.children}" th:href="'/product/list/3/'+${levelThree.id}" th:text="${levelThree.name}"></a>
                                    </div>
                                </div>
                            </div>
                        </li>

                    </ul>
                </div>
            </div>
            <ul class="menu_r">
                <li><a href="/productCategory/main">Home</a></li>

                <li th:each="levelOne:${list}">
                    <a th:href="'/product/list/1/'+${levelOne.id}" th:text="${levelOne.name}"></a>
                </li>

            </ul>
        </div>
    </div>
    <script type="text/javascript">
        $(function(){
            //商品类目
            $(".leftNav ul li").hover(
                function(){
                    $(this).find(".fj").addClass("nuw");
                    $(this).find(".zj").show();
                }
                ,
                function(){
                    $(this).find(".fj").removeClass("nuw");
                    $(this).find(".zj").hide();
                }
            )
        });
    </script>
</div>

<!-- 底部 -->
<div th:fragment="footer">
    <div class="b_btm_bg b_btm_c" id="footer">

    </div>
    <div class="b_nav">

        <div class="b_er">

        </div>
    </div>
</div>

<!-- 许可 -->
<div th:fragment="permit">
    <div class="btmbg">
        <!--        <div class="btm">-->
        <!--            备案/许可证编号：蜀ICP备12009302号-1-www.dingguagua.com   Copyright © 2015-2018 尤洪商城网 All Rights Reserved. 复制必究 , Technical Support: Dgg Group <br />-->
        <!--            <img src="/images/b_1.gif" width="98" height="33" /><img src="/images/b_2.gif" width="98" height="33" /><img src="/images/b_3.gif" width="98" height="33" /><img src="/images/b_4.gif" width="98" height="33" /><img src="/images/b_5.gif" width="98" height="33" /><img src="/images/b_6.gif" width="98" height="33" />-->
        <!--        </div>-->
    </div>
</div>
