<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <th:block th:include="common.html :: source"></th:block>
</head>
<body>

<th:block th:include="common.html :: header"></th:block>

<div class="i_bg">
    <div id="settlement">
        <div class="content mar_20">
            <img src="/images/p3.png"/>
        </div>
        <div class="content mar_20">
            <div class="warning">

                <table border="0" style="width:1000px; text-align:center;" cellspacing="0" cellpadding="0">
                    <tr height="35">
                        <td style="font-size:18px;">
                            Thank you for shopping! Your order has been submitted successfully, here is your order number: <font color="#ff4e00" th:text="${orders.serialnumber}"></font>
                        </td>
                    </tr>

                    <tr>
                        <td style="font-size:14px; font-family:'宋体';padding:20px 0 30px 0; font-family:'宋体';">
                            Recipient Information: <span th:text="${orders.loginName}"></span>     Address: <span th:text="${orders.userAddress}"></span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a href="/">Home</a>     <a href="/userInfo">User Center</a>
                        </td>
                    </tr>
                </table>

            </div>
        </div>
    </div>
</div>

<th:block th:include="common.html :: footer"></th:block>
<th:block th:include="common.html :: permit"></th:block>

</body>
</html>